/**
 * ----------------------------------------
 * animation blink-2
 * ----------------------------------------
 */
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@keyframes scale-in-center {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
  padding: 0;
}

.es-rc #es-rc-content {
  font-family: 'Montserrat', sans-serif;
  max-width: 731px;
  margin-inline: auto;
  overflow: hidden;
}
.es-rc #es-rc-content * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.es-rc #es-rc-content p {
  margin: 0;
}
.es-rc #es-rc-content img {
  max-width: 100%;
  display: block;
}
.es-rc #es-rc-content .es-section {
  margin: 0;
  padding: 0;
}
.es-rc #es-rc-content .es-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  text-wrap: balance;
  font-size: 30px;
}
.es-rc #es-rc-content .es-text {
  font-size: 14px;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-text {
    font-size: 16px;
  }
}
.es-rc #es-rc-content .es-kv {
  color: #fff;
}
.es-rc #es-rc-content .es-kv .es-title--span {
  font-weight: 300;
}
.es-rc #es-rc-content .es-kv__title {
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 14px;
}
@media screen and (min-width: 400px) {
  .es-rc #es-rc-content .es-kv__title {
    right: 7%;
  }
}
@media screen and (min-width: 768px) {
  .es-rc #es-rc-content .es-kv__title {
    right: 12%;
  }
}
@media screen and (min-width: 992px) {
  .es-rc #es-rc-content .es-kv__title {
    top: 6%;
    right: 5%;
    font-size: 19px;
  }
}
.es-rc #es-rc-content .es-kv__textCtn {
  padding: 2rem 2rem 0 2rem;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-kv__textCtn {
    padding: 1rem 1rem 0 1rem;
  }
}
.es-rc #es-rc-content .es-kv__text {
  position: absolute;
  text-align: center;
  margin-block: 1rem;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  min-width: 259px;
  width: 100%;
  max-width: 600px;
}
.es-rc #es-rc-content .es-kv__text-line {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #000;
  font-size: 7px;
  font-weight: 800;
  margin-bottom: 10px;
}
.es-rc #es-rc-content .es-kv__text-line--white {
  background-color: unset;
  color: #fff;
}
@media (min-width: 992px) {
  .es-rc #es-rc-content .es-kv__text-line--white {
    width: 100% !important;
  }
}
@media (min-width: 992px) {
  .es-rc #es-rc-content .es-kv__text-line {
    font-size: 9px;
    width: 80%;
  }
}
@media (min-width: 1300px) {
  .es-rc #es-rc-content .es-kv__text-line {
    font-size: 9px;
    width: 84%;
  }
}
@media (min-width: 400px) {
  .es-rc #es-rc-content .es-kv__text {
    bottom: -5%;
  }
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-kv__text {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .es-rc #es-rc-content .es-kv__text {
    margin-top: 0;
    margin-bottom: 0;
    bottom: -2%;
    font-size: 14px;
  }
}
.es-rc #es-rc-content .es-kv__logo {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 25%;
}
.es-rc #es-rc-content .es-kv__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-kv__container {
    flex-direction: row;
  }
}
.es-rc #es-rc-content .es-kv__container--left {
  background: url('../images/kv-packhot_static.png') no-repeat center center;
  background-size: cover;
  min-height: 470px;
  position: relative;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-kv__container--left {
    flex-basis: 50%;
  }
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-kv__container--right {
    flex-basis: 50%;
  }
}
.es-rc #es-rc-content .es-kv__packshotCtn {
  z-index: 2;
  overflow: hidden;
}
.es-rc #es-rc-content .es-kv__badge {
  position: absolute;
  left: 1rem;
  width: 33%;
  max-width: 75px;
  z-index: 2;
}
@media (min-width: 360px) {
  .es-rc #es-rc-content .es-kv__badge {
    max-width: 100px;
  }
}
@media (min-width: 410px) {
  .es-rc #es-rc-content .es-kv__badge {
    left: 2rem;
  }
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-kv__badge {
    max-width: 66px;
  }
}
@media (min-width: 768px) {
  .es-rc #es-rc-content .es-kv__badge {
    max-width: 100px;
  }
}
.es-rc #es-rc-content .es-kv__packshot {
  width: 75%;
  z-index: 2;
  margin: auto;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-kv__packshot {
    width: 66%;
  }
}
@media (min-width: 768px) {
  .es-rc #es-rc-content .es-kv__packshot {
    width: 69%;
  }
}
.es-rc #es-rc-content .es-kv__signs {
  position: absolute;
  top: 25%;
  right: 10px;
  width: 45%;
  max-width: 200px;
  z-index: 2;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-kv__signs {
    bottom: 1rem;
    right: 1rem;
    max-width: 150px;
  }
}
@media (min-width: 768px) {
  .es-rc #es-rc-content .es-kv__signs {
    max-width: 220px;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .es-rc #es-rc-content .es-kv__signs {
    top: 22%;
    right: 5%;
  }
}
.es-rc #es-rc-content .es-kv__photo {
  width: 100%;
  height: 100%;
}
.es-rc #es-rc-content .es-info {
  padding: 2rem;
  background: url('../images/info-bg-b.png') no-repeat center;
  background-size: cover;
}
.es-rc #es-rc-content .es-info .es-title {
  font-size: 26px;
  color: #ffffff;
  position: relative;
  margin-bottom: 30px;
}
.es-rc #es-rc-content .es-info .es-title::after {
  position: absolute;
  content: '';
  background: url('../images/lip-drip.png') no-repeat center;
  top: 0;
  left: 64%;
  background-size: 61%;
  display: block;
  width: 122px;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .es-rc #es-rc-content .es-info .es-title::after {
    left: 19%;
  }
}
@media screen and (min-width: 1300px) {
  .es-rc #es-rc-content .es-info .es-title::after {
    left: 12%;
    top: -15%;
    background-size: 50%;
  }
}
.es-rc #es-rc-content .es-info .es-title--2::after {
  background: url(../images/slick-click.png) no-repeat center;
  width: 136px;
  height: 48px;
  background-size: 49%;
  left: 60%;
}
@media screen and (min-width: 1300px) {
  .es-rc #es-rc-content .es-info .es-title--2::after {
    left: 33%;
    width: 100px;
    height: 48px;
    background-size: 90%;
  }
}
@media screen and (min-width: 768px) {
  .es-rc #es-rc-content .es-info .es-title {
    text-align: left;
    font-size: 28px;
  }
}
.es-rc #es-rc-content .es-info__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .es-rc #es-rc-content .es-info__subtitle {
    text-align: left;
  }
}
@media screen and (min-width: 1300px) {
  .es-rc #es-rc-content .es-info__subtitle {
    font-size: 16x;
  }
}
.es-rc #es-rc-content .es-info__textCtn {
  position: relative;
  z-index: 1;
}
.es-rc #es-rc-content .es-info__flexCtn {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-info__flexCtn {
    flex-direction: row;
    gap: unset;
  }
}
@media (min-width: 768px) {
  .es-rc #es-rc-content .es-info__flexCtn {
    padding-left: 22px;
  }
  .es-rc #es-rc-content .es-info__flexCtn--2 {
    padding-top: 200px;
  }
}
.es-rc #es-rc-content .es-info__leftCtn {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-info__leftCtn {
    flex-basis: 50%;
  }
}
.es-rc #es-rc-content .es-info__single {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding-block: 0.75em;
  margin-top: 0.5em;
  padding-left: 37px;
}
.es-rc #es-rc-content .es-info__single::before {
  position: absolute;
  content: '';
  width: 27px;
  height: 33px;
  top: 50%;
  left: -20px;
  transform: translate(0, -50%);
  background: url(../images/checkbox.png) no-repeat center;
  background-size: contain;
}
.es-rc #es-rc-content .es-info__single--2::before {
  left: -5px;
}
@media screen and (min-width: 1300px) {
  .es-rc #es-rc-content .es-info__single {
    font-size: 12px;
  }
}
.es-rc #es-rc-content .es-info__rightCtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.es-rc #es-rc-content .es-info__rightCtn .es-info__productCtn {
  position: relative;
}
.es-rc #es-rc-content .es-info__rightCtn .es-info__product {
  max-height: 320px;
  position: relative;
}
.es-rc #es-rc-content .es-info__rightCtn .es-info__product--2 {
  max-height: none;
}
@media screen and (min-width: 768px) {
  .es-rc #es-rc-content .es-info__rightCtn .es-info__product {
    display: none;
  }
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-info__rightCtn {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .es-rc #es-rc-content .es-info {
    background: url(../images/info-bg-desktop.png) no-repeat center right;
    background-size: cover;
    height: 420px;
  }
}
@media screen and (min-width: 768px) {
  .es-rc #es-rc-content .es-info--2 {
    margin-top: -260px;
    background: #7eac12 url(../images/info-2-bg-desktop.png) no-repeat left
      center;
    background-size: cover;
    height: 620px;
  }
}
.es-rc #es-rc-content .es-colors {
  background-color: #8bb312;
  background-size: cover;
  color: #fff;
  padding-top: 0;
}
.es-rc #es-rc-content .es-colors .es-title {
  color: #ffffff;
}
.es-rc #es-rc-content .es-colors .es-title--span {
  display: block;
  color: #ffffff;
}
.es-rc #es-rc-content .es-colors__textCtn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
.es-rc #es-rc-content .es-colors__text {
  text-align: center;
  text-wrap: balance;
}
.es-rc #es-rc-content .es-colors__flexCtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.es-rc #es-rc-content .es-colors__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  flex-grow: 1;
  min-width: 150px;
  width: 23%;
  max-width: 240px;
  position: relative;
  padding-bottom: 2rem;
  padding-top: 200px;
  overflow: hidden;
}
.es-rc #es-rc-content .es-colors__single--1 {
  background-color: #eceede;
  background: linear-gradient(to bottom, #eceede 53%, transparent 50%);
}
.es-rc #es-rc-content .es-colors__single--2 {
  background-color: #ec6995;
  background: linear-gradient(to bottom, #ec6995 53%, transparent 50%);
}
.es-rc #es-rc-content .es-colors__single--3 {
  background-color: #de1063;
  background: linear-gradient(to bottom, #de1063 53%, transparent 50%);
}
.es-rc #es-rc-content .es-colors__single--4 {
  background-color: #7d1a48;
  background: linear-gradient(to bottom, #7d1a48 53%, transparent 50%);
}
.es-rc #es-rc-content .es-colors__single--5 {
  background-color: #bf0b38;
  background: linear-gradient(to bottom, #bf0b38 53%, transparent 50%);
}
.es-rc #es-rc-content .es-colors__single--6 {
  background-color: #c0644b;
  background: linear-gradient(to bottom, #c0644b 53%, transparent 50%);
}
.es-rc #es-rc-content .es-colors__single--7 {
  background-color: #773213;
  background: linear-gradient(to bottom, #773213 53%, transparent 50%);
}
.es-rc #es-rc-content .es-colors__single--8 {
  background-color: #3a0300;
  background: linear-gradient(to bottom, #3a0300 53%, transparent 50%);
}
@media screen and (min-width: 1300px) {
  .es-rc #es-rc-content .es-colors__single {
    min-width: 70px;
    width: 20%;
    max-width: 91.3px;
    padding-top: 150px;
  }
}
.es-rc #es-rc-content .es-colors__img {
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 200ms ease-in-out;
}
@media screen and (min-width: 1300px) {
  .es-rc #es-rc-content .es-colors__img {
    max-width: 78%;
  }
  .es-rc #es-rc-content .es-colors__img:hover {
    scale: 1.25;
  }
}
.es-rc #es-rc-content .es-colors__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #abc41e;
  font-size: 22px;
  text-transform: uppercase;
  width: 95%;
  min-width: 150px;
  text-align: center;
  padding: 4px;
  position: absolute;
  top: 30px;
}
.es-rc #es-rc-content .es-colors__name--large {
  display: block;
  font-size: 35px;
  font-weight: 700;
}
@media screen and (min-width: 1300px) {
  .es-rc #es-rc-content .es-colors__name {
    min-width: 100px;
    font-size: 11px;
  }
}
.es-rc #es-rc-content .es-shades {
  background-color: #bdcf2d;
  background-size: cover;
  color: #fff;
  padding-top: 0;
}
.es-rc #es-rc-content .es-shades .es-title {
  color: #ffffff;
}
.es-rc #es-rc-content .es-shades .es-title--span {
  display: block;
  color: #ffffff;
}
.es-rc #es-rc-content .es-shades__textCtn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
.es-rc #es-rc-content .es-shades__text {
  text-align: center;
  text-wrap: balance;
}
.es-rc #es-rc-content .es-shades__flexCtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.es-rc #es-rc-content .es-shades__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  flex-grow: 1;
  min-width: 150px;
  width: 23%;
  max-width: 240px;
  position: relative;
  padding-bottom: 2rem;
  padding-top: 200px;
  overflow: hidden;
}
.es-rc #es-rc-content .es-shades__single--1 {
  background-color: #fee0fa;
  background: linear-gradient(to bottom, #fee0fa 69%, transparent 50%);
}
.es-rc #es-rc-content .es-shades__single--2 {
  background-color: #e77e8d;
  background: linear-gradient(to bottom, #e77e8d 69%, transparent 50%);
}
.es-rc #es-rc-content .es-shades__single--3 {
  background-color: #994346;
  background: linear-gradient(to bottom, #994346 69%, transparent 50%);
}
.es-rc #es-rc-content .es-shades__single--4 {
  background-color: #782e2d;
  background: linear-gradient(to bottom, #782e2d 69%, transparent 50%);
}
.es-rc #es-rc-content .es-shades__single--5 {
  background-color: #703227;
  background: linear-gradient(to bottom, #703227 69%, transparent 50%);
}
.es-rc #es-rc-content .es-shades__single--6 {
  background-color: #ad563b;
  background: linear-gradient(to bottom, #ad563b 69%, transparent 50%);
}
.es-rc #es-rc-content .es-shades__single--7 {
  background-color: #993861;
  background: linear-gradient(to bottom, #993861 69%, transparent 50%);
}
.es-rc #es-rc-content .es-shades__single--8 {
  background-color: #cc0071;
  background: linear-gradient(to bottom, #cc0071 69%, transparent 50%);
}
.es-rc #es-rc-content .es-shades__single--9 {
  background-color: #6f213b;
  background: linear-gradient(to bottom, #6f213b 69%, transparent 50%);
}
.es-rc #es-rc-content .es-shades__single--10 {
  background-color: #9e003d;
  background: linear-gradient(to bottom, #9e003d 69%, transparent 50%);
}
.es-rc #es-rc-content .es-shades__single--11 {
  background-color: #5c101c;
  background: linear-gradient(to bottom, #5c101c 69%, transparent 50%);
}
.es-rc #es-rc-content .es-shades__single--12 {
  background-color: #4d2f27;
  background: linear-gradient(to bottom, #4d2f27 69%, transparent 50%);
}
@media screen and (min-width: 1300px) {
  .es-rc #es-rc-content .es-shades__single {
    min-width: 52px;
    width: 14%;
    max-width: 60.8px;
    padding-top: 150px;
    height: 400px;
  }
}
.es-rc #es-rc-content .es-shades__img {
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 200ms ease-in-out;
  max-width: 38%;
  min-height: 226px;
}
@media screen and (min-width: 1300px) {
  .es-rc #es-rc-content .es-shades__img:hover {
    scale: 1.25;
  }
}
.es-rc #es-rc-content .es-shades__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #abc41e;
  font-size: 22px;
  text-transform: uppercase;
  width: 95%;
  min-width: 150px;
  text-align: center;
  padding: 4px;
  position: absolute;
  top: 30px;
}
.es-rc #es-rc-content .es-shades__name--large {
  display: block;
  font-size: 50px;
  font-weight: 700;
}
@media screen and (min-width: 1300px) {
  .es-rc #es-rc-content .es-shades__name {
    font-size: 8px;
    min-width: 60px;
  }
  .es-rc #es-rc-content .es-shades__name--large {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) {
  .es-rc #es-rc-content .es-shades {
    margin-top: -5px;
  }
}
.es-rc #es-rc-content .es-features {
  background-color: #d43e88;
  color: #fff;
  padding: 2rem;
}
.es-rc #es-rc-content .es-features__textCtn {
  margin-bottom: 2rem;
}
.es-rc #es-rc-content .es-features .es-title {
  color: #ffffff;
}
.es-rc #es-rc-content .es-features__subtitle {
  text-align: center;
  text-transform: uppercase;
  margin-top: 12px;
  font-size: 14px;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-features__subtitle {
    font-size: 16px;
  }
}
.es-rc #es-rc-content .es-features__Ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.es-rc #es-rc-content .es-features__single {
  padding-block: 0.75em;
  margin-top: 0.5em;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-features__single {
    padding-block: 0;
  }
  .es-rc #es-rc-content .es-features__single--1 {
    max-width: 84%;
    align-self: flex-start;
    position: relative;
  }
  .es-rc #es-rc-content .es-features__single--1:after {
    content: '';
    position: absolute;
    top: 63px;
    display: block;
    width: 105%;
    height: 2px;
    background-color: #ffffff;
  }
  .es-rc #es-rc-content .es-features__single--2 {
    max-width: 78%;
    align-self: flex-end;
    position: relative;
    margin-top: 0;
  }
  .es-rc #es-rc-content .es-features__single--2:before {
    content: '';
    position: absolute;
    top: -56%;
    left: -13%;
    display: block;
    width: 105%;
    height: 2px;
    background-color: #ffffff;
  }
}
.es-rc #es-rc-content .es-features__packshotCtn {
  position: relative;
  padding: 2rem;
  z-index: 1;
}
.es-rc #es-rc-content .es-features__tip {
  position: absolute;
}
.es-rc #es-rc-content .es-features__tip--1 {
  top: 5%;
  right: 2%;
  width: 16%;
  min-width: 50px;
  max-width: 80px;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-features__tip--1 {
    top: -2%;
    z-index: 1;
  }
}
.es-rc #es-rc-content .es-features__tip--2 {
  bottom: 5%;
  left: 2%;
  width: 20%;
  min-width: 50px;
  max-width: 100px;
  z-index: 1;
}
.es-rc #es-rc-content .es-steps {
  background-color: #ffffff;
  color: #fff;
  padding-block: 2rem;
  position: relative;
}
.es-rc #es-rc-content .es-steps .es-title {
  color: #ffffff;
}
.es-rc #es-rc-content .es-steps__subtitle {
  text-align: center;
  text-transform: uppercase;
  margin-top: 12px;
}
.es-rc #es-rc-content .es-steps__stepCtn {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-steps__stepCtn {
    flex-direction: row;
    gap: 2rem;
  }
}
.es-rc #es-rc-content .es-steps__singleCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.es-rc #es-rc-content .es-steps__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  position: relative;
}
.es-rc #es-rc-content .es-steps__single:before {
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  left: -3%;
  height: 300px;
  z-index: 1;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-steps__single:before {
    height: 250px;
  }
}
.es-rc #es-rc-content .es-steps__single--1:before {
  background-image: url('../images/step-1_img.png');
  width: 30px;
}
.es-rc #es-rc-content .es-steps__single--2:before {
  background-image: url('../images/step-2_img.png');
  width: 50px;
  left: -5%;
  top: 37%;
}
@media (min-width: 576px) {
  .es-rc #es-rc-content .es-steps__single--2:before {
    width: 60px;
    top: 41%;
  }
}
.es-rc #es-rc-content .es-steps__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #8168a2;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  width: 99%;
  -webkit-clip-path: polygon(
    5% 0%,
    95% 0%,
    100% 50%,
    100% 50%,
    95% 100%,
    5% 100%,
    0% 50%,
    0% 50%
  );
  clip-path: polygon(
    5% 0%,
    95% 0%,
    100% 50%,
    100% 50%,
    95% 100%,
    5% 100%,
    0% 50%,
    0% 50%
  );
  padding: 4px;
  position: absolute;
  bottom: -12px;
}
.es-rc #es-rc-content .es-steps__text {
  text-align: center;
}
.es-rc #es-rc-content .es-cross {
  background: url(../images/cross-bg.png) no-repeat center;
  background-size: cover;
  padding: 2rem;
}
.es-rc #es-rc-content .es-cross__title {
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .es-rc #es-rc-content .es-cross__title {
    margin-bottom: 20px;
    font-size: 34px;
  }
}
.es-rc #es-rc-content .es-cross__subtitle {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .es-rc #es-rc-content .es-cross__subtitle {
    font-size: 18px;
  }
}
.es-rc #es-rc-content .es-cross__productsCtn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 3rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .es-rc #es-rc-content .es-cross__productsCtn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.es-rc #es-rc-content .es-cross__single {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: radial-gradient(
    50% 30% at 50% 27%,
    rgba(48, 233, 234, 0.3) 0%,
    rgba(7, 58, 255, 0) 100%
  );
}
.es-rc #es-rc-content .es-cross__single:hover .es-cross__img {
  scale: 1.05;
}
.es-rc #es-rc-content .es-cross__single:hover .es-cross__link {
  background-color: #fff;
  color: #d43e88;
  outline: 4px solid #d43e88;
}
@media screen and (min-width: 768px) {
  .es-rc #es-rc-content .es-cross__single--plus {
    align-self: center;
    width: 74px;
    flex-basis: auto;
    margin-left: -15px;
  }
}
.es-rc #es-rc-content .es-cross__single--2 {
  align-self: flex-end;
}
.es-rc #es-rc-content .es-cross__img {
  margin: 0 auto;
  display: block;
  height: 230px;
  transition: all 400ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .es-rc #es-rc-content .es-cross__img {
    max-width: 120%;
    height: 300px;
  }
  .es-rc #es-rc-content .es-cross__img--2 {
    height: 260px;
  }
}
.es-rc #es-rc-content .es-cross__img--plus {
  width: 44px;
  height: auto;
}
.es-rc #es-rc-content .es-cross__name {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
}
.es-rc #es-rc-content .es-cross__desc {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.es-rc #es-rc-content .es-cross__link {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  color: #fff;
  text-align: center;
  background-color: #d43e88;
  width: 150px;
  padding: 10px 20px;
  transition: 0.4s all ease-in-out;
  display: block;
  margin: 0 auto;
}
.es-rc #es-rc-content .es-cross__link:hover {
  background-color: #fff;
  color: #d43e88;
  outline: 4px solid #d43e88;
}
.es-rc #es-rc-content .es-cross__star {
  position: absolute;
  animation: blink-2 4s ease-in-out infinite both;
  z-index: -1;
}
.es-rc #es-rc-content .es-cross__star--1 {
  top: 0%;
  left: 0%;
  width: 53px;
  height: 53px;
  animation-delay: 3.6s;
}
@media (min-width: 768px) {
  .es-rc #es-rc-content .es-cross__star--1 {
    top: -16%;
    left: 15%;
  }
}
.es-rc #es-rc-content .es-cross__star--2 {
  top: 2%;
  left: 24%;
  width: 50px;
  height: 70px;
  animation-delay: 1.8s;
}
@media (min-width: 768px) {
  .es-rc #es-rc-content .es-cross__star--2 {
    top: 3%;
    left: 13%;
  }
}
.es-rc #es-rc-content .es-cross__star--3 {
  top: 7%;
  left: 20%;
  width: 60px;
  height: 60px;
  animation-delay: 0.4s;
}
@media (min-width: 768px) {
  .es-rc #es-rc-content .es-cross__star--3 {
    bottom: -3%;
    left: 17%;
    top: auto;
  }
}
.es-rc #es-rc-content .es-cross__star--4 {
  bottom: 23%;
  right: 3%;
  width: 70px;
  height: 70px;
  animation-delay: 2.4s;
}
@media (min-width: 410px) {
  .es-rc #es-rc-content .es-cross__star--4 {
    right: 15%;
  }
}
@media (min-width: 768px) {
  .es-rc #es-rc-content .es-cross__star--4 {
    right: 11%;
    top: -13%;
  }
}
.es-rc #es-rc-content .es-cross__star--5 {
  bottom: 20%;
  right: 0%;
  width: 30px;
  height: 30px;
  animation-delay: 1.2s;
}
@media (min-width: 410px) {
  .es-rc #es-rc-content .es-cross__star--5 {
    right: 8%;
  }
}
@media (min-width: 768px) {
  .es-rc #es-rc-content .es-cross__star--5 {
    right: -4%;
    top: 22%;
  }
}
@media screen and (min-width: 1300px) {
  .es-rc #es-rc-content .es-cross {
    margin-top: -260px;
    padding-top: 300px;
  }
}
.es-rc #es-rc-content .es-photos__img {
  width: 100%;
  max-width: 100%;
  display: block;
}
@media screen and (min-width: 760px) {
  .es-rc #es-rc-content .es-photos__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .es-rc #es-rc-content .es-photos__img {
    max-width: 33.4%;
  }
}
.es-rc #es-rc-content .es-footer {
  display: flex;
  justify-content: center;
  background-color: #61a239;
}
.es-rc #es-rc-content .es-footer__img {
  width: 100%;
  max-width: 100%;
  display: block;
  max-width: 230px;
}

.es-reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.es-reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.es-reveal--left {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 2s all ease;
}

.es-reveal--left.active {
  transform: translateX(0);
  opacity: 1;
}

.es-reveal--right {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 2s all ease;
}

.es-reveal--right.active {
  transform: translateX(0);
  opacity: 1;
} /*# sourceMappingURL=style.css.map */
